.wrap {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: var(--primary-color); /* Adjust as needed */
    border-radius: 10px;
    position: relative;
    justify-content: center;
    align-items: center; /* Center items vertically */
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.profilepic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../../../public/images/propic.jpeg'); /* Adjust the path to your profile picture */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    margin-right: 20px; /* Add margin between profile pic and text */

    &:hover {
        transform: scale(1.1);
    }
}

.aboutText {
    margin-left: 2rem;
    color: var(--text-color); /* Adjust as needed */
    width: 50%; /* Adjust width as needed */
}

.aboutTitle {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 0;
}

.aboutContent {
    font-size: 1em;
    line-height: 1.5;
}

/* Mobile view adjustments */
@media only screen and (max-width: 768px) {
    .wrap {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }

    .profilepic {
        margin-right: 0; /* Remove margin when stacked vertically */
        margin-bottom: 20px; /* Add space between picture and text */
    }

    .aboutText {
        margin-left: 0;
        width: 80%; /* Adjust width for smaller screens */
        text-align: center; /* Center align text */
    }

    .aboutTitle {
        margin-top: 2rem;
    }

    .aboutContent {
        font-size: small;
        text-align: center;
    }
}

@media only screen and (max-width: 412px) {
    .aboutText {
        width: 90%; /* Further adjust width for smaller screens */
        text-align: center; /* Center align text */
    }

    .aboutTitle {
        margin-top: 1rem;
    }

    .aboutContent {
        font-size: smaller;
        text-align: center;
    }
}
