/* about.module.scss */
.wrap {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-color: var(--primary-color); /* Adjust as needed */
    border-radius: 10px;
    position: relative;
    justify-content: center;
    flex-direction: column; /* Stack items vertically on smaller screens */
}

.profilepic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../../../public/images/propic.jpeg'); /* Adjust the path to your profile picture */
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.profilepic::before,
.profilepic::after,
.profilepic::nth-child(2n)::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.profilepic::before {
    width: 180px;
    height: 180px;
    background-color: rgba(255, 0, 0, 0.5); /* Red */
    top: -15px;
    left: -15px;
}

.profilepic::after {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.5); /* Blue */
    top: -25px;
    left: -25px;
}

.profilepic:nth-child(2n)::before {
    width: 220px;
    height: 220px;
    background-color: rgba(0, 255, 0, 0.5); /* Green */
    top: -35px;
    left: -35px;
}

.aboutText {
    margin-left: 20px;
    color: var(--text-color); /* Adjust as needed */
}

.aboutTitle {
    font-size: 2em;
    margin-bottom: 10px;
}

.aboutContent {
    font-size: 1em;
    line-height: 1.5;
}

.aboutText {
    margin-left: 5rem;
    margin-top: 5rem;
    width: 50%;
}

.aboutTitle {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    color: var(--body_color);
}

/* Mobile view adjustments */
@media only screen and (max-width: 768px) {
    .wrap {
        flex-direction: column;
        align-items: center;
    }

    .aboutText {

        flex-direction: column;
        margin-left: 0;
        margin-top: 3rem;
        width: 80%;
        text-align: center;
    }

    .aboutTitle {
        margin-top: 2rem;
    }

    .aboutContent{
        font-size: small;
        text-align: justify;
    }
}

@media only screen and (max-width: 412px) {
    .aboutText {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 0;
    }
}
