.sliderBar{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: var(--body_color);
    color: var(--body_background_color);
    width: 100%;
}